.myBtn {
    padding: 5px 15 px;
    color: rgb(255, 0, 0);
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}